/**
 *
 * Apply your custom CSS here
 *
*/

body {	
}

a {
}

/*.button-light-on {
    background-color: blue;
}

.button-light-off {
    background-color: #FADF9D;
    color: black;
}

.button-light-on:hover{
};

.button-light-off:hover{
        background-color: #FADF9D;
    color: black;
};*/